#root{
    height: 100vh;
}

#body {
    height: 100%;
    background-color: #eae9e2;
    border: solid 1px red;
    /* background-color: #2f2f2f; */
    display: flex;
    justify-content: center;
}

#output {
   width: 60%;
    border: solid 1px blue;
    margin:0;
    padding:0;
}

.row{
    height: 25vw;
}
.name{
    font-size: 20px;
    height:4vw;
}

.img img{
    border: solid 1px red;
    width: 100%;
    height: 14vw;
}

.card-wrapper{
    border: solid 1px black;
    margin:0;
    padding:0 ;
}
.description{
    border: solid 1px black;
}