@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#body {
    min-height: 100vh;
    background-color: grey;
}

#render-objects {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    column-gap: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 1343px){
    #render-objects{
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 860px){
    #render-objects{
        grid-template-columns: auto;
    }
}

#search-wrapper {
    display: flex;
    justify-content: center;
    background-color: grey;
}

#search-container {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 100px;
    background-color: rgb(216, 215, 215);
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
}

#search-container>input,
#btn-search {
    height: 30%;
    border: none;
}

#search-container>input {
    padding: 10px;
    border-radius: 5px;

}

#btn-search {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    padding-top: 3px;
}

#body a{
    text-decoration: none;
}

.loading-wrapper {
   display: flex;
   justify-content: center;
   
}

.loading {
    font-size: 66px;

}

.mismatch {
    background-color: grey;
    margin-top: 10rem;
    margin-left: 20rem;
    font-size: 66px;
}

.make-container {

    width: 100%;
    height: 150px;
    background: #3696c6;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
    font-family: 'Lobster', cursive;

    padding: 20px;
}

.make-text,
.make-img {
    display: flex;
    justify-content: center;
}

#make-c:hover {
    background: #5daad1;

}

.card {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 250px 280px 110px;
    grid-template-areas: "image""text";
    border: none;
    border-radius: 18px;
    background: rgba(255, 254, 254, 0.843);
    filter: brightness(70%);
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    color: black;
    font-weight: 700;
}

.card:hover {
    transition: 0.9s;
    filter: brightness(100%);
}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-text {
    height: 320px;
    grid-area: text;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-size: 20px;
}

.create-card {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 70px 350px 100px;
    grid-template-areas: "text""stats";
    border: none;
    border-radius: 18px;
    background: rgba(255, 254, 254, 0.843);
    filter: brightness(90%);
    text-align: center;
    margin-top: 20px !important;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.create-card-errorMessage {
    padding-top: 0;
    margin-top: -10px;
    margin-bottom: 10px;
    color: rgba(255, 0, 0, 0.674);
}

.create-card label {
    text-align: left;
    display: block;
    padding: 5px;
}

.create-card h2 {
    font-size: 30px;
    color: #549fc4;
    font-weight: 700;
    margin-top: 30px;
}

.create-card input,
.create-card textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: none;
    box-sizing: border-box;
    display: block;
    resize: none;
    font-size: 15px;
    border-radius: 3px;
}

.create-card textarea {
    height: 130px;
}

button {
    background: #3696c6;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;

}

button:hover {
    background: #5daad1;

}

#header-text{
    font-size: 50px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(170, 165, 160);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}