#body {
    height: 100%;
    background-color: #eae9e2;
    border: solid 1px red;
    /* background-color: #2f2f2f; */
    display: flex;
    justify-content: center;
}

#output {
    width: 50%;
    /* border: solid 1px blue; */
    margin: 0;
    padding: 0;
}

.head-row {
    height: 20vw;
    width:100%;
    overflow:hidden;
}

.card-wrapper {
    /* border: solid 1px black; */
    margin: 0;
    padding: 0;
    width: 100%;

}

.name {
    font-size: 3vw;
    height: 4vw;
    
}

 .exact-img {
    /* border: solid 1px red; */
    max-height:100%;
    max-width:100%;
    
}

.description-wrapper {
    /* border: solid 1px black; */
    overflow-wrap: break-word;
}

.desc{

    font-size: 1.2vw;
}
.desc > p{
 padding-top:40px;
}