@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

#body {
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap:0% 5%;
    display:grid;
    grid-template-columns: auto auto auto;
}

#search-wrapper{
    display: flex;
    justify-content: center;
    background-color: grey;
    
}

#search-container {
    display:flex;
    justify-content: center;
    
    width: 600px;
    height: 100px;
    background-color: rgb(216, 215, 215);
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
}

#search-container > input, #btn-search{
    height: 30%;
    border: none;
}

#search-container > input{
    padding: 10px;
    border-radius: 5px;
    
}

 #btn-search{
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
 }


#body a{
    text-decoration: none;
}

.loading-wrapper{
    margin-top: 15rem;
    margin-left: 40rem;
}
.loading{
    font-size: 66px;

}

.card{
    display:grid;
    grid-template-columns: 400px;
    grid-template-rows: 250px 280px 100px;
    grid-template-areas: "image" "text" "stats";
    border: none;
    border-radius: 18px;
    background:rgba(255, 254, 254, 0.843);
    filter: brightness(70%);
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}
.card:hover{
    transition: 0.9s;
    filter: brightness(100%);
}

.card-image{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-text{
    grid-area: text;
    font-family: rajdhani;
    font-weight: 600;
    font-size: 20px;
}

.card-stats{
    grid-area: stats;
}


.create-card {
    display:grid;
    grid-template-columns: 400px;
    grid-template-rows: 70px 350px 100px;
    grid-template-areas: "text" "stats";
    border: none;
    border-radius: 18px;
    background:rgba(255, 254, 254, 0.843);
    filter: brightness(50%);
    text-align: center;
    margin-top: 20px;
    max-width: 400px;
    margin:0 auto;
    text-align: center;
}

.create-card label{
    text-align: left;
    display:block;
}

.create-card h2{
    font-size:30px;
    color: #549fc4;
    font-weight: 600;
    margin-top: 30px;
}

.create-card input, .create-card textarea{
    width:100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid white;
    box-sizing: border-box;
    display: block;

}

.create-card button{
    background: #549fc4;
    color: #fff;
    border:0;
    padding: 8px;
    border-radius: 8px;
    cursor:pointer;

}
/* .card-text input {
    margin-left: 30px;

}
.card-text label {
    margin-left: 30px;

}

.card-text textarea{
    margin-left: 10px;
} */