@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Nanum+Gothic:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

.background{
    
    height:100vh;
    background-image: url("../icons/travel-world-map.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
